tickTime=2000
dataDir={{ root_folder }}/data/zookeeper
clientPort=2182
secureClientPort=2281
4lw.commands.whitelist=mntr,conf,ruok,stat

initLimit=5
syncLimit=2
server.1={{ solr_node_1 }}:2888:3888

autopurge.snapRetainCount=3
autopurge.purgeInterval=1

# allow ZK to store larger files
jute.maxbuffer=0x9fffff

sslQuorum=true 
ssl.clientAuth=none
serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory
ssl.quorum.keyStore.location={{ java_key_store_jks }}
ssl.quorum.keyStore.password={{ java_key_store_pass }}
ssl.quorum.keyStore.type=JKS
ssl.quorum.trustStore.location={{ java_trust_store }}
ssl.quorum.trustStore.password={{ java_trust_store_pass }}
ssl.quorum.trustStore.type=JKS


ssl.keyStore.location={{ java_key_store_jks }}
ssl.keyStore.password={{ java_key_store_pass }}
ssl.trustStore.location={{ java_trust_store }}
ssl.trustStore.password={{ java_trust_store_pass }}
ssl.keyStore.type=JKS
ssl.trustStore.type=JKS

ssl.protocol=TLSv1.2
ssl.quorum.protocol=TLSv1.2
ssl.hostnameVerification=true
ssl.quorum.hostnameVerification=true
