[Unit]
Description=Confluent Control Center
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target

[Service]
Type=simple
User=cp-control-center
Group=confluent
Environment="LOG_DIR={{root_folder}}/log/control-center" "CONTROL_CENTER_LOG4J_OPTS=-Dlog4j.configuration=file:{{root_folder}}/app/control-center/log4j-rolling.properties"
Environment="CONTROL_CENTER_OPTS=-Dcom.redhat.fips=false -Djava.io.tmpdir={{ root_folder }}/tmp/control-center/"
ExecStart=/usr/bin/control-center-start {{root_folder}}/app/control-center/control-center-production.properties
TimeoutStopSec=180
Restart=always
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
