[Unit]
Description=Apache Kafka Connect - distributed
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target

[Service]
Type=simple
User=cp-kafka-connect
Group=confluent
Environment="LOG_DIR={{ root_folder }}/log/kafka-connect"
Environment="KAFKA_LOG4J_OPTS=-Dlog4j.configuration=file:{{ root_folder }}/app/kafka/connect-log4j.properties"
Environment="KAFKA_OPTS=-Dcom.redhat.fips=false -Djava.io.tmpdir={{ root_folder }}/tmp/kafka-connect/"
ExecStart=/usr/bin/connect-distributed {{ root_folder }}/app/kafka/connect-distributed.properties
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
