<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:task="http://www.springframework.org/schema/task"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
                            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <beans:bean class="com.armedia.acm.crypto.properties.AcmEncryptablePropertySourcesPlaceholderConfigurer">
        <beans:property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
        <beans:property name="location" value="file:${user.home}/.arkcase/acm/spring/spring-config-user-{{ ldap_user_domain_bean_name }}-ad.properties"/>
    </beans:bean>
   
    <beans:bean id="{{ ldap_user_domain_bean_name }}_userSync" class="com.armedia.acm.services.users.service.ldap.AcmLdapUserSyncConfig">
        <beans:property name="attributes">
            <beans:map>
                <beans:entry key="cn" value='${adAddUserConfig.cn}'/>
                <beans:entry key="sAMAccountName" value='${adAddUserConfig.sAMAccountName}'/>
                <beans:entry key="userPrincipalName" value='${adAddUserConfig.userPrincipalName}'/>
                <beans:entry key="givenName" value='${adAddUserConfig.givenName}'/>
                <beans:entry key="sn" value='${adAddUserConfig.sn}'/>
                <beans:entry key="mail" value='${adAddUserConfig.mail}'/>
                <beans:entry key="userAccountControl" value='${adAddUserConfig.userAccountControl}'/>
                <beans:entry key="unicodePwd" value='${adAddUserConfig.unicodePwd}'/>
                <beans:entry key="homeDirectory" value='${adAddUserConfig.homeDirectory}'/>
                <beans:entry key="objectClass" value='${adAddUserConfig.objectClass}'/>
            </beans:map>
        </beans:property>
    </beans:bean>
</beans:beans>
