[Unit]
Description=Snowbound service

[Service]
Type=forking
ExecStart=/opt/app/snowbound/bin/startup.sh
ExecStop=/opt/app/snowbound/bin/shutdown.sh -force
User=snowbound
Group=snowbound
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=snowbound

[Install]
WantedBy=multi-user.target
