[Unit]
Description=Alfresco service

[Service]
Type=forking
ExecStart={{ root_folder }}/app/alfresco/bin/startup.sh
ExecStop={{ root_folder }}/app/alfresco/bin/shutdown.sh -force
User=alfresco
Group=alfresco
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alfresco

[Install]
WantedBy=multi-user.target
