install

# Use CDROM installation media
cdrom

lang en_US.UTF-8
keyboard us

# text mode installer
text
# Do not configure the X Window System
skipx

firstboot --disabled

# SELinux configuration
selinux --enforcing

# Firewall configuration
firewall --enabled --service=ssh

# Network information
network --device=eth0 --bootproto=dhcp --onboot=on --noipv6 --hostname=centos7.localdomain

# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

# System bootloader configuration
bootloader --location=mbr --append="net.ifnames=0 biosdevname=0 elevator=noop no_timer_check"

# Disk partitioning information
part /boot/efi --fstype vfat --size=200 --ondisk=sda
# part /boot --asprimary --fstype="vfat" --size=512
part swap --asprimary --fstype="swap" --recommended
part / --asprimary --fstype="ext4" --grow --size=1

# Root password
rootpw vagrant

# user
user --name=vagrant --plaintext --password=vagrant

authconfig --enableshadow --passalgo=sha512
# System authorization information
auth  --useshadow  --passalgo=sha512

# System timezone
timezone Etc/GMT --isUtc

# Reboot after installation
reboot --eject

%packages --instLangs=en --nobase
@core
authconfig
sudo
# Microcode updates don't work in a VM
-microcode_ctl
# Firmware packages aren't needed in a VM
-*firmware
%end


%post --log=/root/post.log

# vagrant user
#/usr/sbin/useradd vagrant
#echo "vagrant" | passwd --stdin vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

# hyper-v services
yum install -y hyperv-daemons
systemctl enable hypervkvpd.service
systemctl enable hypervvssd.service
%end

