#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$pcce/8rj$zJli6Aev7w9UqAtj/bbLH/
# user
user --name=vagrant --plaintext --password=vagrant
# System language
lang en_US
# Reboot after installation
reboot
# System timezone
timezone Etc/GMT --isUtc
# Use text mode install
text
# Network information
network  --bootproto=dhcp --device=eth0
# System authorization information
auth  --useshadow  --passalgo=sha512
# Firewall configuration
firewall --enabled --port=ssh
# Use CDROM installation media
cdrom
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx

# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# Disk partitioning information
part /boot --asprimary --fstype="ext4" --size=512
part swap --asprimary --fstype="swap" --recommended
part / --asprimary --fstype="ext4" --grow --size=1
