[Unit]
Description=Pentaho service
After=mariadb.service
BindsTo=mariadb.service

[Service]
Type=forking
ExecStart=/opt/app/pentaho/pentaho-server/start-pentaho.sh
ExecStop=/opt/app/pentaho/pentaho-server/stop-pentaho.sh
User=pentaho
Group=pentaho
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pentaho

[Install]
WantedBy=multi-user.target
