[Unit]
Description=Zipkin Server
After=syslog.target

[Service]
ExecStart=KAFKA_ZOOKEEPER=localhost:2181 KAFKA_GROUP_ID=zipkin STORAGE_TYPE=elasticsearch ES_HOSTS=localhost:{{ elasticsearch_port | default(9200) }} java -jar {{ root_folder }}/app/zipkin/zipkin-server-2.21.4-exec.jar
SuccessExitStatus=143
WorkingDirectory={{ root_folder }}/app/zipkin
User=arkcase
Group=arkcase
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zipkin


[Install]
WantedBy=multi-user.target
