[Unit]
Description=Snowbound service

[Service]
Type=forking
ExecStart={{ root_folder }}/app/snowbound/bin/startup.sh
ExecStop={{ root_folder }}/app/snowbound/bin/shutdown.sh -force
Environment="JAVA_OPTS='-Djava.net.preferIPv4Stack=true -Djavax.net.ssl.trustStorePassword={{ java_trust_store_pass }} -Djavax.net.ssl.trustStore={{ java_trust_store }}'"
User=snowbound
Group=snowbound
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=snowbound

[Install]
WantedBy=multi-user.target
