[Unit]
Description=ArkCase Service
After=mariadb.service,activemq.service,alfresco.service,samba.service,solr.service,config-server.service
BindsTo=mariadb.service,activemq.service,alfresco.service,samba.service,solr.service,config-server.service

[Service]
Type=forking
ExecStart={{ root_folder }}/app/arkcase/bin/startup.sh
ExecStop={{ root_folder }}/app/arkcase/bin/shutdown.sh -force
WorkingDirectory={{ root_folder }}/app/arkcase
User=arkcase
Group=arkcase
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=arkcase

[Install]
WantedBy=multi-user.target
