[Unit]
Description=ArkCase Config Server
After=syslog.target

[Service]
ExecStart={{ root_folder }}/app/config-server/config-server.jar
SuccessExitStatus=143
Environment=LOGGING_FILE={{ root_folder }}/log/config-server/acmConfigServer.log
WorkingDirectory={{ root_folder }}/app/config-server
User=arkcase
Group=arkcase
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=config-server


[Install]
WantedBy=multi-user.target

