[Unit]
Description=ArkCase Config Server
After=syslog.target

[Service]
ExecStart={{ root_folder }}/app/config-server/config-server.jar
SuccessExitStatus=143
Environment=LOGGING_FILE_NAME={{ root_folder }}/log/config-server/acmConfigServer.log
Environment=_JAVA_OPTIONS=-Djava.io.tmpdir={{ root_folder }}/data/config-server/tmp
Environment=JAVA_HOME={{ java_home_version | default('/usr/lib/jvm/java-11-openjdk') }}
WorkingDirectory={{ root_folder }}/app/config-server
User=arkcase
Group=arkcase
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=config-server


[Install]
WantedBy=multi-user.target

