[Unit]
Description=Pentaho service
After={{ (db_engine == 'postgresql') | ternary(postgresql_service_file_name, 'mariadb.service') if pentaho_host == database_host else '' }}
BindsTo={{ (db_engine == 'postgresql') | ternary(postgresql_service_file_name, 'mariadb.service') if pentaho_host == database_host else '' }}

[Service]
Type=forking
ExecStart={{ root_folder }}/app/pentaho/pentaho-server/start-pentaho.sh
ExecStop={{ root_folder }}/app/pentaho/pentaho-server/stop-pentaho.sh
User=pentaho
Group=pentaho
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pentaho
Environment="PENTAHO_INSTALLED_LICENSE_PATH=/home/pentaho/.pentaho/.installedLicenses.xml"
Environment="JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk"

[Install]
WantedBy=multi-user.target
