[Unit]
Description=Alfresco Search Services

[Service]
Type=forking
ExecStart={{ root_folder }}/app/alfresco-search/alfresco-search-services/solr/bin/solr start -a "-Dsolr.allow.unsafe.resourceloading=true"
ExecStop={{ root_folder }}/app/alfresco-search/alfresco-search-services/solr/bin/solr stop
User=alfresco-search
Group=alfresco-search
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alfresco-search

[Install]
WantedBy=multi-user.target

