[Unit]
Description=Solr service

[Service]
Type=forking
RemainAfterExit=true
ExecStart={{ root_folder }}/app/solr/bin/init.d/solr start
ExecStop={{ root_folder }}/app/solr/bin/init.d/solr stop
# Starting from CentOS 7.7 we can't specify the PIDfile for 
# solr anymore; but systemd can find it from the process 
# table anyway.
# PIDFile={{ root_folder }}/app/solr/bin/solr-8983.pid
User=root
Group=root
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=solr
LimitNOFILE=65000
LimitNPROC=65000

[Install]
WantedBy=multi-user.target
