[Unit]
Description=SOLR Service


[Service]
Type=forking
User=root
Group=root
PIDFile={{ root_folder }}/app/solr/bin/solr-8983.pid
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=solr
LimitNOFILE=65000
LimitNPROC=65000
Environment="SOLR_PORT={{ solr_port }}"
ExecStart={{ root_folder }}/app/solr/bin/solr start
ExecStop={{ root_folder }}/app/solr/bin/solr stop

[Install]
WantedBy=multi-user.target
