[Unit]
Description=ArkCase Service
After=mariadb.service,activemq.service,alfresco.service,samba.service,solr.service
BindsTo=mariadb.service,activemq.service,alfresco.service,samba.service,solr.service

[Service]
Type=forking
ExecStart=/opt/app/arkcase/bin/startup.sh
ExecStop=/opt/app/arkcase/bin/shutdown.sh -force
WorkingDirectory=/opt/app/arkcase
User=arkcase
Group=arkcase
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=arkcase

[Install]
WantedBy=multi-user.target
